html {
    width: 100%;
    overflow-x: hidden;
}

body {
    width: 100%;
}

.center-block {
	float: none;
    text-align: center;
}

#bootstrap-overrides .container {
    text-align: center;
}

#home-buttons button {
    display: block;
    width: 300px;
    margin-top: 15px;
    text-align: center;
}

#bootstrap-overrides .row {
    margin-top: 10px;
}

#bootstrap-overrides .btn.dropdown-toggle {
    float: none;
}

#message {
    resize: none;
}
