html {
    width: 100%;
}

body {
    width: 100%;
}

.center-block {
	float: none;
}

#bootstrap-overrides .container {
    text-align: center;
}

#home-buttons button {
    display: block;
    width: 300px;
    margin-top: 15px;
    text-align: center;
}
