html {
    width: 100%;
    overflow-x: hidden;
}

body {
    width: 100%;
}

#bootstrap-override .center-block {
    text-align: center;
    float: none;
}

#bootstrap-override .container {
    text-align: center;
}

#bootstrap-override button:disabled, #bootstrap-override input:disabled {
    cursor: default;
}

/* HOME */
#home-buttons button {
    display: block;
    width: 300px;
    margin-top: 15px;
    text-align: center;
}

#bootstrap-override .row {
    margin-top: 10px;
}

/* SEND */
#bootstrap-override .btn.dropdown-toggle {
    float: none;
}

#message {
    resize: none;
}

/* RECEIVE */
.receive-message-message {
    display: inline-block;
    margin-right: 5px;
}

.receive-message-message.receiver {
    color: #5bc457;
}

.receive-message-message.sender {
    color: #ed3e3e;
}

.receive-message-date {
    display: inline-block;
}

/* CHAT */
.mugshot {
    display: inline-block;
    margin-right: 5px;
    border: solid 1px black;
}

.mugshot img {
    width: 50px;
    height: 50px;
}

#chat-box {
    margin-top: 15px;
    width: 400px;
    height: 460px;
    border: solid 2px black;
    border-radius: 2px;
    overflow-y: scroll;
}

.chat-item-set {
	height: 90px;
}

.chat-item {
    margin: 7px;
    padding: 5px;
    border-radius: 4px;
    border: solid 1px #AAA;
}

.chat-question {
    float: left;
    background-color: #bdf0bb;
}

.chat-answer {
    float: right;
    margin-top: 45px;
    background-color: #e89b9b;
}

#chat-receiver-picture {
    width: 60px;
    height: 60px;
}

#chat-btn-group input {
    width: 250px;
}

#chat-btn-group label {
    margin-left: -16px;
    margin-right: 10px;
    font-size: 22px;
}
