<h1>Send a Message</h1>

<div class="form-group center-block col-xs-4">
    <label for="sendTo">Send to:</label>
    <input id="sendTo" type="text" class="form-control" placeholder="Type a name...">
</div>
<div class="form-group center-block col-xs-4">
    <label for="message">Message:</label>
    <input id="message" type="text" class="form-control" placeholder="Type your message here...">
</div>

<div class="center-block">
    <button class="btn btn-default" ng-click="send()">Send</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
